<h1>Congratulations, <%= @user.email %></h1>
<p>
  You have successfully activated your account,
  your username is: <%= @user.email %>.<br/>
</p>
<p>
  To login to the site, just follow this link: <%= link_to @url, @url %>.
</p>
<p>Thanks for joining and have a great day!</p>
