<% title "Register a User" %>

<div class="row">
  <div class="col-md-5">
    <%= show_errors(@user) %>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <h2 class="form-signin-heading">New user</h2>
    <%= render "form" %>
  </div>
</div>
