<% title "Password Recovery" %>

<div class="row">
  <div class="col-md-3">
    <h2 class="form-signin-heading">Forgot Password?</h2>
    <%= form_tag create_reset_password_users_path, class: "form-signin" do %>
      <%= text_field_tag "email", nil, class: "form-control", placeholder: "Email", autofocus: "" %>
      <%= submit_tag "Reset my password", class: "btn btn-lg btn-dark btn-block", id: "reset_password" %>
    <% end %>
  </div>
</div>
